<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>



<% @tasks.each do |t| %>
  <ul class="list-group" >
    <li  class="list-group-item"><%= t.name %></li>
    <li  class="list-group-item"><%= t.created_at %></li>
    <li  class="list-group-item"><%= link_to "voir", task_path(t) %></li>
    <li  class="list-group-item"><%= link_to "editer", "/tasks/#{t.id}/edit" %></li>
    <li  class="list-group-item">
      <%= link_to "supprimer", task_path(t),
        method: :delete,
        data: { confirm: "are u sure ?"} %>
    </li>
  </ul>
<% end %>


